.home {
  height: 100vh;
  align-items: center;
  display: flex;
  overflow: hidden;
}

.hero-image {
  height: 100vh;
  position: relative;
  object-fit: cover;
  width: 100%;
  user-select: none;
}

.hero-accent {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: calc((1/4) * 100%);
  background-color: #6B7F5B;
  z-index: 100;
  mix-blend-mode: multiply;
}

.buttons {
  display: block;
  margin-top: 40px;
}

.hidden {
  overflow: hidden;
}
