.background {
  position: fixed;
  z-index: -1;
  left: 50px;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #202321;
  display: flex;
}

@media only screen and (max-width : 768px) {
  .background {
    left: 0;
  }
}

.panel {
  flex-grow: 2;
  border-left: solid 1px #363A3E;
}

.panel:after {
 content: '';
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 width: 0%;
 background-color: #FFF;
 transition: all 0.5s ease-out;
 border-left: solid 1px #DFE6EB;
}

.panel-active {
  composes: panel;
}

.panel-active:after {
  width: 100%;
}

.panel-overlay {
  position: fixed;
  left: 50px;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 100000;
}
