.hero {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
}

.hero-image-fade {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.body {
  position: relative;
  background-color: #FFF;
}

.body:before {
  content: '';
  position: absolute;
  background-color: #FFF;
  width: calc((5/7) * 100%);
  height: 100px;
  top: -100px;
  right: 0;
}

.body-stripe {
  position: absolute;
  left: calc((1/7) * 100%);
  width: calc((1/7) * 100%);
  top: -200px;
  bottom: 0;
  background-color: #6B7F5B;
  z-index: 100;
  display: flex;
  align-items: flex-end;
}

@media only screen and (max-width : 768px) {
  .body-stripe {
    left: calc((1/7) * 100vw);
    width: calc((6/7) * 100%);
    top: -100px;
    bottom: auto;
    height: auto;
    padding-bottom: 0;
  }
}

.details {
  position: relative;
  z-index: 1000;
  padding: 25px 25px 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.details h3 {
  margin: 0 auto;
}

.details p {
  margin: 0 auto;
  margin-bottom: 0;
  color: #FFF;
}

.details-item + .details-item {
  margin-top: 40px;
}

@media only screen and (max-width : 768px) {
  .details {
    padding: 25px;
    flex-direction: row;
  }

  .details-item {
    flex: 0 0 50%;
  }

  .details-item + .details-item {
    margin-top: 0;
  }
}

.description {
  padding: 25px 50px 50px;
}

.description p {
  color: #676F72;
  margin-top: 0;
}

@media only screen and (max-width : 768px) {
  .description {
    padding: 100px 15px 60px;
  }
}

.content {
  padding: 80px 0;
}

@media only screen and (max-width : 768px) {
  .content {
    padding: 60px 15px;
  }
}

.next {
  text-align: center;
  margin-bottom: 40px;
  position: relative;
}

.next:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  margin: auto;
  width: 1px;
  height: 60px;
  z-index: 100;
  background: #FFF;
}

.footer {
  background-color: #25292D;
  padding: 80px 20px;
  position: relative;
  text-align: center;
}

@media only screen and (max-width : 768px) {
  .footer {
    padding: 40px 15px;
  }
}

.footer-text {
  z-index: 100;
  position: relative;
}

.footer-text h3 {
  margin-top: 0;
}

.footer-text p {
  margin-bottom: 0;
}

.footer-link {
  text-decoration: none;
}

.footer-image {
  user-select: none;
  object-fit: cover;
  opacity: 0.25;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  transition: opacity 300ms ease-out;
}

.footer:hover .footer-image {
  opacity: 0.5;
}
